.ion-icon{
	background-color: green;
}
.tabs-md .tab-button[aria-selected=true]{

	color: black;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
	color: black;
}

.tabs-md .tab-button {
 color: rgba(68, 67, 67, 0.9);
}