page-favoris {

	/*.header-md::after{
	   background-image: none !important;
	}*/
	.hist-btn{
		background-color:white;
		color:#4D8CF4;
		-webkit-box-shadow:none;
		box-shadow:none;
		font-weight: 100;
		font-size:13px;
		height: 2.6rem;

	}
	.hist-content{
		background-color: #eee !important;
	}
	.hist-row{
		background-color: white !important;
	    padding-top: 6px;
	    border-radius: 5px 5px 5px 5px;
	    webkit-border-radius:5px 5px 5px 5px;
	    moz-border-radius:5px 5px 5px 5px;


	}

	ion-img{
		width: 80px;
		height: 80px;
	}
	.rubrique{
		color: black;
		text-transform: uppercase;
	}
	.btn-search{
		background-color:#ffdd00;
		width: 20px;
		margin-left: 33%;

	}
	.icon-search{
		padding-left: 0px;
	}
	.btn-search.button-md{
		color: black;
	}
	.pin{color:#4D8CF4;padding-right: 10px;}
	
	.grid{
		padding: 0px;
	}
	.date{
		padding-bottom: 16px;
	}
	.date-2{
		padding-top: 16px;
	}
	.f-search{
		padding-top: 17%;

	}
	h6{
		text-align: center;
	}
	.desc{
		text-align:center;
	}

	div > p{
		letter-spacing: 1px;
	}
	.faire-search{
		background-color: white;
		color: #488aff;
		width: 70%;
		border: solid 1px;
	    font-weight: 400;

	}

	.acceder{
	font-weight: 400;
	}
}