
<ion-header>

  <ion-navbar>
    <ion-title text-wrap>{{rs_comp}}<br> {{ville}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div #map id="map" [@openClose]="isOpen ? 'open' : 'closed'">

  </div>
 <ion-grid class="grid">
  <ion-row class="btns">

    <ion-col col-3 class="btns-icon" *ngIf="telephone">
      <button  color="light" class="back" align="center" (click)="callNumbers()">
        <ion-icon name="call" class="icon-size">
        </ion-icon><br>
        <p class="name-menu">Appeler</p>
      </button>
    </ion-col>


    <ion-col col-3 class="btns-icon">
      <button  color="light" class="back"  (click)="navigateLocation()">
       <ion-icon name="walk" class="icon-size"></ion-icon><br>
       <p class="name-menu">Y aller</p>
      </button>

    </ion-col>

    <ion-col col-3 class="btns-icon" *ngIf="email">
       <button  color="light" class="back">
         <ion-icon name="mail" class="icon-size"></ion-icon><br>
         <p class="name-menu">E-mail</p>
       </button>
    </ion-col>

    <ion-col col-3 class="btns-icon">
       <button  (click)="toggle()" color="light" class="back">
          <div *ngIf="isOpen">
            <ion-icon name="arrow-down" class="icon-size"></ion-icon><br>
            <p class="name-menu">Agrandir</p>
          </div>
          <div *ngIf="!isOpen">
            <ion-icon name="arrow-up" class="icon-size"><p class="name-menu">Réduire</p></ion-icon>
          </div>
       </button>
    </ion-col>

  </ion-row>

  <ion-row>
      <ion-col col-12>

        <!-- raison sociale -->
        <ion-item class="rasion-sociale" text-wrap>
          <span class="rs_comp">{{rs_comp}}</span>
        </ion-item>

        <!-- logo et description -->
        <ion-item text-wrap *ngIf="logo1 ||module0|| module1 || module2 || module3 ||module4|| module5 || module6 || module7">
          <hr class="ligne">
            <span class="logo" *ngIf="logo1"><img src="{{logo1}}" class="img"></span>
            <span class="logo" *ngIf="logo2"><img src="{{logo2}}" class="img"></span>
            <div class="module">
              {{module0}}{{module1}}{{module2}}{{module3}}{{module4}}
              {{module5}}
              {{module6}}{{module7}}
            </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="rubrique0 || rubrique1 || rubrique2 || rubrique3    ||rubrique4 || rubrique5 || rubrique6 ||
        rubrique7 || rubrique8 || rubrique9 || rubrique10">
        <ion-col col-12>
       <!-- les rubriques -->
        <ion-item class="activite">
          <p class="p-s">Activités</p>
        </ion-item>
        <ion-item>
          <span class="rubrique" text-wrap>
            <ion-icon *ngIf="rubrique0" ios="ios-arrow-dropright" md="md-arrow-dropright" class="icon-rubrique">
            </ion-icon>
            <span *ngIf="rubrique0" (click)="onSearchByActivity(rubrique0,ville)">{{rubrique0}}
              <br>
            </span>

            <ion-icon *ngIf="rubrique1" ios="ios-arrow-dropright" md="md-arrow-dropright" class="icon-rubrique">
            </ion-icon>
            <span *ngIf="rubrique1" (click)="onSearchByActivity(rubrique1,ville)">{{rubrique1}}
              <br>
            </span>

            <ion-icon *ngIf="rubrique2" ios="ios-arrow-dropright" md="md-arrow-dropright" class="icon-rubrique">              
            </ion-icon>
            <span *ngIf="rubrique2" (click)="onSearchByActivity(rubrique2,ville)">{{rubrique2}}
              <br>
            </span>

            <ion-icon *ngIf="rubrique3" ios="ios-arrow-dropright" md="md-arrow-dropright" class="icon-rubrique">              
            </ion-icon>
            <span *ngIf="rubrique3" (click)="onSearchByActivity(rubrique3,ville)">{{rubrique3}}
              <br>
            </span>

            <ion-icon *ngIf="rubrique4" ios="ios-arrow-dropright" md="md-arrow-dropright" class="icon-rubrique">              
            </ion-icon>
            <span *ngIf="rubrique4" (click)="onSearchByActivity(rubrique4,ville)">{{rubrique4}}
              <br>
            </span>

            <ion-icon *ngIf="rubrique5" ios="ios-arrow-dropright" md="md-arrow-dropright" class="icon-rubrique">            
            </ion-icon>
            <span *ngIf="rubrique5" (click)="onSearchByActivity(rubrique5,ville)">{{rubrique5}}
              <br>
            </span>

            <ion-icon *ngIf="rubrique6" ios="ios-arrow-dropright" md="md-arrow-dropright" class="icon-rubrique">              
            </ion-icon>
            <span *ngIf="rubrique6" (click)="onSearchByActivity(rubrique6,ville)">{{rubrique6}}
              <br>
            </span>

            <ion-icon *ngIf="rubrique7" ios="ios-arrow-dropright" md="md-arrow-dropright" class="icon-rubrique">              
            </ion-icon>
            <span *ngIf="rubrique7" (click)="onSearchByActivity(rubrique7,ville)">{{rubrique7}}
              <br>
            </span>

            <ion-icon *ngIf="rubrique8" ios="ios-arrow-dropright" md="md-arrow-dropright" class="icon-rubrique">              
            </ion-icon>
            <span *ngIf="rubrique8" (click)="onSearchByActivity(rubrique8,ville)">{{rubrique8}}
              <br>
            </span>            
          

            <ion-icon *ngIf="rubrique9" ios="ios-arrow-dropright" md="md-arrow-dropright" class="icon-rubrique">              
            </ion-icon>
            <span *ngIf="rubrique9" (click)="onSearchByActivity(rubrique9,ville)">{{rubrique9}}
              <br>
            </span>            
          
            <ion-icon *ngIf="rubrique10" ios="ios-arrow-dropright" md="md-arrow-dropright" 
            class="icon-rubrique">              
            </ion-icon>
            <span *ngIf="rubrique10" (click)="onSearchByActivity(rubrique10,ville)">{{rubrique10}}
              <br>
            </span>   

          </span>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row *ngIf="listPrestations?.length>0">
      <ion-col col-12>
          <ion-item class="Prestations">
            <p class="p-s">Prestations et produits</p>
          </ion-item>
          <ion-item class="Prestations-liste" text-wrap >
            <span *ngFor="let p of listPrestations">
              <li (click)="onSearchByPrestations(p.title,ville)"><ion-icon name="checkmark" class="check-mark" style="color: #617178;"></ion-icon>{{p.title}}</li>
            </span>
          </ion-item>
        </ion-col>
      </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item class="Prestations">
          <p class="p-s">Contactez-nous</p>
        </ion-item>
        <ion-list>
          <ion-item *ngIf='adresse1 || adresse2 || adresse0'>
            <ion-icon ios="ios-pin" md="md-pin" class="icon-coordonees"></ion-icon><span class="adresse" text-wrap>{{adresse1}}{{adresse2}}{{adresse0}}</span>
          </ion-item>
          <ion-item *ngIf="telephone">
           <ion-icon ios="ios-call" md="md-call" class="icon-coordonees"></ion-icon><span class="telephone1"><span>{{telephone}}</span>
           </span>
          </ion-item>

          <ion-item *ngIf="telephone2">
           <ion-icon ios="ios-call" md="md-call" class="icon-coordonees"></ion-icon><span class="telephone1"><span>{{telephone2}}</span>
           </span>
          </ion-item>

          <ion-item *ngIf="fax0 ||fax1 || fax2 || fax3">
            <span *ngIf="fax0">
               <ion-icon ios="ios-print" md="md-print" class="icon-coordonees"></ion-icon><span class="fax"><span>{{fax0}}</span></span>
            </span>
            <span *ngIf="fax1">
               <ion-icon ios="ios-print" md="md-print" class="icon-coordonees"></ion-icon><span class="fax"><span>{{fax1}}</span></span>
            </span>
            <span *ngIf="fax2">
               <ion-icon ios="ios-print" md="md-print" class="icon-coordonees"></ion-icon><span class="fax"><span>{{fax2}}</span></span>
            </span>
            <span *ngIf="fax3">
               <ion-icon ios="ios-print" md="md-print" class="icon-coordonees"></ion-icon><span class="fax"><span>{{fax3}}</span></span>
            </span>
          </ion-item>


          <ion-item *ngIf="webinfo_link1">
            <ion-icon ios="ios-globe" md="md-globe" class="icon-coordonees"></ion-icon><span class="site-web">
              <span><a href="{{webinfo_link_orig1}}">{{webinfo_link1}}</a></span>
            </span>
          </ion-item>

          <ion-item *ngIf="webinfo_link2">
              <ion-icon ios="ios-globe" md="md-globe" class="icon-coordonees"></ion-icon>
              <span class="site-web"  text-wrap>
              <a target="_blank" href="{{webinfo_link_orig2}}">{{webinfo_link2}}</a>
              </span>
          </ion-item>
          <ion-item *ngIf="webinfo_link3">
              <ion-icon ios="ios-globe" md="md-globe" class="icon-coordonees"></ion-icon>
              <span class="site-web"  text-wrap>
              <a target="_blank" href="{{webinfo_link_orig3}}">{{webinfo_link3}}</a>
              </span>
          </ion-item>
          <ion-item *ngIf="webinfo_link4">
              <ion-icon ios="ios-globe" md="md-globe" class="icon-coordonees"></ion-icon>
              <span class="site-web"  text-wrap>
              <a target="_blank" href="{{webinfo_link_orig4}}">{{webinfo_link4}}</a>
              </span>
          </ion-item>
          <ion-item *ngIf="webinfo_link5">
              <ion-icon ios="ios-globe" md="md-globe" class="icon-coordonees"></ion-icon>
              <span class="site-web"  text-wrap>
              <a target="_blank" href="{{webinfo_link_orig5}}">{{webinfo_link5}}</a>
              </span>
          </ion-item>
          <ion-item *ngIf="webinfo_link6">
              <ion-icon ios="ios-globe" md="md-globe" class="icon-coordonees"></ion-icon>
              <span class="site-web"  text-wrap>
              <a target="_blank" href="{{webinfo_link_orig6}}">{{webinfo_link6}}</a>
              </span>
          </ion-item>
          <ion-item *ngIf="webinfo_link7">
              <ion-icon ios="ios-globe" md="md-globe" class="icon-coordonees"></ion-icon>
              <span class="site-web"  text-wrap>
              <a target="_blank" href="{{webinfo_link_orig7}}">{{webinfo_link7}}</a>
              </span>
          </ion-item>
          <ion-item *ngIf="web1">
            <ion-icon ios="ios-globe" md="md-globe" class="icon-coordonees"></ion-icon>
              <span class="site-web" text-wrap>
              <a target="_blank" href="http://{{web1}}">{{web1}}</a>
              </span>
          </ion-item>
          <ion-item *ngIf="web2">
            <ion-icon ios="ios-globe" md="md-globe" class="icon-coordonees"></ion-icon>
              <span class="site-web" text-wrap>
              <a target="_blank" href="http://{{web2}}">{{web2}}</a>
              </span>
          </ion-item>
          <ion-item *ngIf="web3">
            <ion-icon ios="ios-globe" md="md-globe" class="icon-coordonees"></ion-icon>
             <span class="site-web" text-wrap>
              <a target="_blank" href="http://{{web3}}">{{web3}}</a>
              </span>
          </ion-item>
           <hr>
        </ion-list>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>
